*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}
body{
    height: 100%;
    width: 100%;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
}
.header{
    height: 50px;
    
}

.header_content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logotext{
    font-weight: bold;
    color: black;
    font-size: large;
}
.logoimg{
    height: 40px;
    width: 40px;
}

.nav{
    display: none;
    gap: 1.5rem;
}


@media screen and (min-width:800px){
    .nav{
        display: flex;
    }
}

.nav_link{
    color: rgb(168, 157, 157);
}

.nav_link:hover{
    color: rgb(92, 92, 215);
}

.contact_botton{
    display: none;
    background-color: rgb(6, 33, 241);
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 1px;

}

@media screen and (min-width:800px) {
    .contact_botton{
        display: block;
    }
    
}
.contact_botton:hover{
    background-color: rgb(95, 100, 158);
}
.textcontact{
    color: white;
    font-weight: bold;
}

.menu_button{
    display: none;
    
}
@media screen and (max-width:800px){
    .menu_button{
        display: block;
        padding-top: 3px;
        border: none;
        background-color: white;
        
    }
    
}

.imgburger{
    height: 2rem;
    width: 2rem;
    
}
.content{
    height: 100%;
    width: 100%;
    margin: 1rem 1rem;
    padding: 1rem 1rem;

}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.box2{

    height: 250px;
    width: 400px;
    border-radius: 20px;

}
.label{
    text-align: left;
    font-weight: bold;
    color: rgb(59, 59, 186);
}

.leftbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: slidefromleft 1s ease-in forwards;

}
@media screen and (min-width:800px) {
    .leftbox{
       width: 50%;
       align-items: flex-start;
    justify-content: center;
    text-align: left;
       
    
    }
    .label{
        margin: 0;
        text-align: left;
    }
    .text{
        text-align: left;
        margin-left: 0;
    }
    
    
}
@keyframes slidefromleft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);

    }
    
}
.text{
    height: 50%;
    width: 70%;

    color: grey;
}
h1{
    
    padding: 1rem 0;
    font-weight: bold;
}
.startnow{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 1px;
    background-color: brown;
    color: white;
    
}
.taketour{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 1px;
    background-color: rgb(42, 128, 165);
    color: white;
}
.button{
    display: flex;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
}
.main{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
@media screen and (min-width:800px) {
    .main{
        flex-direction: row;
        
    }
    .button{
        padding-left: 0;
        margin: 0;
        
    }
    
}
.startnow:hover{
    background-color: gray;
    
}
.taketour:hover{
    background-color: gray;
}
.company_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slidefromleft 1s ease-in forwards;

}
.company_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    padding: 1rem;
    background-color: rgb(223, 222, 222);
    border-radius: 20px;
    margin-top: 2rem;
}
@media screen and (min-width:800px) {
    .company_grid{
        grid-template-columns: repeat(4,1fr);
    }
    
    
}

.grid_content{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(223, 222, 222);
    text-align: center;
    
}



.feature_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 50%;
    margin: 0 auto;
}