* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

/* NAVBAR */
header {
    background: #111;
    position: sticky;
    top: 0;
}

.navbar {
    max-width: 1100px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00adb5;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero span {
    color: #ffdd59;
}

.hero h1 {
    font-size: 48px;
}

.hero h2 {
    font-size: 28px;
    margin: 10px 0;
}

.btn {
    margin-top: 20px;
    padding: 12px 30px;
    background: #ffdd59;
    color: #111;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #fff;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    max-width: 1100px;
    margin: auto;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

/* ABOUT */
.about p {
    text-align: center;
    max-width: 700px;
    margin: auto;
}

/* SKILLS */
.skill-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill {
    background: #00adb5;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
}

/* PROJECTS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: #f4f4f4;
    padding: 25px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

/* CONTACT */
.contact {
    text-align: center;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 36px;
    }

    .nav-links {
        display: none;
    }
}
